* {
    box-sizing: border-box;
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: open sans, sans-serif;
    /* width:100%;
    height:100%; */
     /* background-image: url("./img/grass-0.0.jpg"); 
    background-position: center; */
    
    background-repeat: no-repeat;
    
    background-size: cover;
    /* Resize the background image to cover the entire container. */
    height: 100vh;
    background-color: #fff;
}


.page-container {
    padding: 0px;
    width: 100vw
}


.form-wrapper{
    background-color:rgba(255,255,255,1);
    width: 100vw;
    height:100vh;
     
}


.display-wrapper{
     background-image: url("./img/grass-0.0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    text-align:center;
    width:100%;
    /* background-color:rgba(255,255,255,.95); */
    box-shadow:2px 2px 2px #000;
    height: 25vh;
    position: fixed;
    top:0;
    left:0;
}

.appForm{
    margin-top:200px;
    padding:10px;
    border-radius:0px; 
   
   
}

input {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.grid-c {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: .5em auto .5em auto;
}

.grid-i {
    text-align: left;
    padding: .5em;
}

.appInput {
    font-size: 1em;
    padding: 0.5em;
    flex-grow: 1;
    outline: none;
    border-radius: 0px;
    width: 100%;
    border: 1px solid #ccc;
}

.appButton {
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em 0 0.5em 0;
    color: #FFF;
    border-radius: 0px;
    outline: none;
    background: #555;
    width: 50%;
    border: 1px solid #ccc;
}

.appLabel {
    color: #555;
}

.colorSquare {
    height: 15px;
    width: 45px;
    margin: .25em 0 .25em 0;
    border-radius: 0px;
    box-shadow: 2px 2px 2px #000;
}
.wooden {
    background:tan;
}
.red {
    background: #600f0f;
}

.blue {
    background: #162abf;
}

.orange {
    background: orange;
}

.green {
    background: #1c6611;
}

.purple {
    background: purple;
}

.yellow {
    background: yellow;
}
.white {
    background: #fff;
}





 
.bat-handle{
    width:852px; 
    height:319px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bat-ring{
    width:26px;
    height:319px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bat-barrel{
     width:722px;
    height:319px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

 .zonetraxx-logo{
    background-image: url("./img/zonetraxx-512.jpeg");
    width:100px;
    height:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
 }
.bat-handle-highlights{
    background-image: url("./img/slice_layers/highlight-handle.5.png");
    width:852px;
    height:319px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute; 
    top:0;left:0;
}
.bat-ring-highlights{
    background-image: url("./img/slice_layers/highlight-ring.5.png");
    width:26px;
    height:319px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute; 
    top:0;left:0;
}
.bat-barrel-highlights{
    background-image: url("./img/slice_layers/highlight-barrel.5.png");
    width:722px;
    height:319px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute; 
    top:0;left:0;
}

 

#moniker{
    z-index:9999;
    text-shadow: 1px 1px #000;
     color: #fff;
    position: absolute; 
    font-size: 1.5em;   
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute; 
    top:0;left:0;  
 

}

 
 

.bat-handle-wooden {
    background-image: url("./img/slice_layers/wooden-handle-lvl.png");
}
.bat-handle-white {
    background-image: url("./img/slice_layers/white-handle.png");
}
.bat-handle-blue {
    background-image: url("./img/slice_layers/blue-handle.png");
}

.bat-ring-wooden {
    background-image: url("./img/slice_layers/wooden-ring-lvl.png");
}
.bat-ring-white {
    background-image: url("./img/slice_layers/white-ring.png");
}
.bat-ring-blue {
    background-image: url("./img/slice_layers/blue-ring.png");
}


.bat-barrel-wooden {
    background-image: url("./img/slice_layers/wooden-barrel-lvl.png");
}
.bat-barrel-white {
    background-image: url("./img/slice_layers/white-barrel.png");
}
.bat-barrel-blue {
    background-image: url("./img/slice_layers/blue-barrel.png");
}

.img-container{
    padding:0 0 0 0 ;
    margin:0 0 0 0 ;
}

.wood-background {
    background-image: url("./img/wood-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-c {
    display: flex;
}

 

@media only screen and (max-width: 600px) {
    .grid-i {
        padding: 5px;
    }
}

.appFormButtons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 100%;
    padding:10px;
}